﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Testing2.aspx.cs" Inherits="School365.Testing2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button ID="getB" runat="server" Text="Hey" OnClick="getB_Click" />
    </div>
        <asp:GridView ID="allSub" runat="server" >

        </asp:GridView>
    </form>
</body>
</html>
