﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin_Layout.Master" AutoEventWireup="true" CodeBehind="AddStudents.aspx.cs" Inherits="School365.Admin.Student.AddStudents" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="header" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="body" runat="server">
        
     <hr />

       <div class="row">
        <div class="large-4 columns">
            <asp:FileUpload ID="uploadCSV" runat="server" />
            <asp:Button ID="submit" runat="server" CssClass="radius button bg-light-green" Text="Insert Subjects" OnClick="submit_Click" />
        </div>
        <div class="large-4 columns">
           
        </div>
    </div>
    <div>

    </div>
</asp:Content>
