﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AcademicStanding.aspx.cs" Inherits="School365.Admin.Documents.AcademicStanding" %>
g.
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:TextBox ID="StudentMatric" runat="server"  placeholder="Matric No "></asp:TextBox>
        <asp:Button ID="InsertBtn" runat="server" Text="Get Students" OnClick="InsertBtn_Click" />
    </div>
        <p align="left">STUDENT</p>:  :<br />
        <p align="left">STUDENT NAME</p>:  :<br />
        <p align="left">SUBJECT COMB</p>:   :<br />

        <table>
            <tr>
                <th>S/N</th>
                <th>COURSE CODE</th>
                <th>TITLE</th>
                <th>SEC</th>
                <th>CR</th>
                <th>STATUS</th>
                <th>GRADE</th>
                <th>SCORE</th>
            </tr>
                        
            <tr>
                <%
                    foreach (int setStdID in StudentID)
                    {
                        //var getStudent= from d in db.Results where 
                       %> 


                   <% }
                     %>
               <td></td>
                <td></td>
            </tr>
            
        </table>


    </form>
</body>
</html>
