﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StudentListByDept.aspx.cs" Inherits="School365.Admin.Documents.StudentListByDept" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="font-family:'Segoe UI'">
    <form id="form1" runat="server">
        <div>
            <asp:DropDownList ID="Session" runat="server" DataSourceID="LinqDataSource1" DataTextField="SessionYear" DataValueField="SessionID">
            </asp:DropDownList>
            &nbsp;&nbsp;&nbsp;
        <asp:DropDownList ID="Semesters" runat="server">
            <asp:ListItem>1</asp:ListItem>
            <asp:ListItem>2</asp:ListItem>
        </asp:DropDownList>
            &nbsp;&nbsp;
        <asp:Button ID="GetGrades" runat="server" Text="Get All Courses" OnClick="GetGrades_Click" />
            <asp:LinqDataSource ID="LinqDataSource1" runat="server" ContextTypeName="School365.Model.StudentModel" EntityTypeName="" OrderBy="SessionYear" Select="new (SessionID, SessionYear)" TableName="Sessions">
            </asp:LinqDataSource>

        </div>
        <table align="center">
            <tr>
                <td colspan="2">
                    <h2>FEDERAL COLLEGE OF EDUCATION, ABEOKUTA </h2>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>&nbsp;&nbsp;&nbsp; List Of  Students By Department/Courses(Registered)</h4>
                </td>
                <td>
                    <h4>FCE - <%Response.Write(Semesters.SelectedItem.Text + "st SEMESTER " + Session.SelectedItem.Text); %></h4>
                </td>
            </tr>
        </table>

        <%
            var getAllDept = (from d in db.Results
                              where d.Semester == Semester && d.SessionID == SessionID
                              join s in db.Departments on d.DepartmentID equals s.DepartmantID
                              select new { d.DepartmentID, s.DepartmentCode, s.DepartmentName }).Distinct().OrderBy(a => a.DepartmentCode).ToList();
            foreach (var item in getAllDept)
            {
                var getSubjects = (from d in db.Subjects
                                   where d.SubjectCode.Substring(0, 3) == item.DepartmentCode
                                   select d.SubjectCode).ToList();

        %>
        <h4><% Response.Write(item.DepartmentCode+",");%>&nbsp;&nbsp;&nbsp; <%Response.Write(item.DepartmentName); %></h4>
        <table style="width: 100%; margin-top: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000; font-size: 12px;" border="0" cellspacing="0">
            <tr>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5">Course</td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5">No Of Students</td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5">PERCENTAGE</td>
            </tr>
            <%foreach (var items in getSubjects)
                {%>
            <tr>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5"><%Response.Write(items); %></td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5"><%Response.Write(util.StudentCountByCode(items, Semester, SessionID)); %></td>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5"><%Response.Write(string.Format("{0:0.00}", util.StudentCountByCode(items, Semester, SessionID) * 100 / util.AllStudentsCount(Semester, SessionID))); %> &#37;</td>
            </tr>
            <%}

            %>
            <tr>
                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;" class="auto-style5"><%Response.Write(util.AllStudentsCount(Semester, SessionID)); %></td>
            </tr>
        </table>

        <%}
        %>
    </form>
</body>
</html>
