﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin_Layout.Master" AutoEventWireup="true" CodeBehind="SubCourse.aspx.cs" Inherits="School365.Admin.Results.SubCourse" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="header" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="body" runat="server">
    <div class="row">
        <div class="large-12 columns">
           <asp:DropDownList ID="SubDepartment" runat="server" CssClass="">
                            <asp:ListItem Value="beds">BED Sectretariat</asp:ListItem>
                            <asp:ListItem Value="beda">BED Accounting</asp:ListItem>

             </asp:DropDownList>
             <asp:Button runat="server" ID="Submit" CssClass="button" Text="Submit" OnClick="Submit_Click" />
        </div>
        <%--<div class="large-3 columns">
              
        </div>--%>
        </div>
</asp:Content>
