﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Lecturers.master.cs" Inherits="School365.Lecturer.Lecturers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png" />
    <title>College of Education, Osiele. Abeokuta</title>
    <!-- Bootstrap Core CSS -->
    <link href="../Students/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Menu CSS -->

    <link href="../Students/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="../Students/css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="../Students/css/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="../Students/css/colors/default.css" id="theme" rel="stylesheet" />

    <link href="../Students/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet" />
    <style type="text/css">
        .hiddencol {
            display: none;
        }
    </style>
    <link href="tableexport.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part">
                <a class="logo" href="UserLogin.aspx"><b>

                    <img src="../Admin/Results/Image2.PNG" alt="home" height="55px" width="55px" /></b><%--<span class="hidden-xs"><strong>elite</strong>university</span>--%></a>
            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                <li>
                    <form role="search" class="app-search hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                        <i class="icon-envelope"></i>
                        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title">You have 4 new messages</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img">
                                        <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">
                                        <span class="profile-status online pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img">
                                        <img src="../plugins/images/users/sonu.jpg" alt="user" class="img-circle">
                                        <span class="profile-status busy pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5>
                                        <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img">
                                        <img src="../plugins/images/users/arijit.jpg" alt="user" class="img-circle">
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5>
                                        <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img">
                                        <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);"><strong>See all notifications</strong> <i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                        <i class="icon-note"></i>
                        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                        <li>
                            <a href="#">
                                <div>
                                    <p><strong>Task 1</strong> <span class="pull-right text-muted">40% Complete</span> </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="sr-only">40% Complete (success)</span> </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p><strong>Task 2</strong> <span class="pull-right text-muted">20% Complete</span> </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="sr-only">20% Complete</span> </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p><strong>Task 3</strong> <span class="pull-right text-muted">60% Complete</span> </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete (warning)</span> </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p><strong>Task 4</strong> <span class="pull-right text-muted">80% Complete</span> </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete (danger)</span> </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#"><strong>See All Tasks</strong> <i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <%  %>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <%--   <asp:Image ID="UserImage" runat="server" alt="user-img" Width="36" class="img-circle" /><b class="hidden-xs"><%Response.Write(user.UserInfo(StudentID).Surname + " " + user.UserInfo(StudentID).Firstname); %></b> </a>--%>

                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i>My Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-email"></i>Inbox</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings"></i>Account Setting</a></li>
                            <li><a href="login.html"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user --></li>
                <li class="right-side-toggle"><a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                    <!-- input-group -->
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
               
                <li><a href="LecturerProfile.aspx" class="waves-effect"><i class="icon-picture fa-fw"></i><span class="hide-menu">DashBoard</span></a></li>
                <li><a href="DownloadEMS.aspx" class="waves-effect"><i class="icon-picture fa-fw"></i><span class="hide-menu">EMS FOR DEPARTMENTAL COURSES</span></a></li>
                <li><a href="DownloadEMSII.aspx" class="waves-effect"><i class="icon-picture fa-fw"></i><span class="hide-menu">EMS FOR GENERAL COURSES</span></a></li>
                <li><a href="ScoreStudent.aspx" class="waves-effect"><i class="icon-logout fa-fw"></i><span class="hide-menu">Score Student</span></a></li>
                 <li><a href="UploadScore.aspx" class="waves-effect"><i class="icon-picture fa-fw"></i><span class="hide-menu">Upload Score</span></a></li>
                <li><a href="PasswordChange.aspx" class="waves-effect"><i class="icon-picture fa-fw"></i><span class="hide-menu">Change Password</span></a></li>
                <%

                    if (lecturer.HOD==true)
                    {
                        %>
                 <li><a href="AssignLecturer.aspx" class="waves-effect"><i class="icon-picture fa-fw"></i><span class="hide-menu">Assign Lecturer</span></a></li>
                    <%}

                    %> 
               

                <li><a href="Login.aspx" class="waves-effect"><i class="icon-logout fa-fw"></i><span class="hide-menu">Log out</span></a></li>
            </ul>

        </div>
    </div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="wrapper">
        <form id="form1" runat="server">
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </form>
    </div>

    
    <script src="../js/jquery.js"></script>
  
    <script src="../Students/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="FileSaver.min.js"></script>

    <script src="tableexport.min.js"></script>
      <script type="text/javascript">
        $('#DownloadExcel').click(function () {
            $("table").tableExport({
                headings: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["csv"],    // (String[]), filetypes for the export
                fileName: "need",                    // (id, String), filename for the downloaded file
                bootstrap: true,                   // (Boolean), style buttons using bootstrap
                position: "bottom"                 // (top, bottom), position of the caption element relative to table           
            });

        })
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../Students/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../Students/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../Students/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../Students/js/waves.js"></script>
    <!-- Flot Charts JavaScript -->
    <script src="../Students/plugins/bower_components/flot/jquery.flot.js"></script>
    <script src="../Students/plugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../Students/js/custom.min.js"></script>

    <script type="text/javascript">
        // Real Time chart
        var data = [],
            totalPoints = 200;

        function getRandomData() {

            if (data.length > 0)
                data = data.slice(1);

            // Do a random walk

            while (data.length < totalPoints) {

                var prev = data.length > 0 ? data[data.length - 1] : 50,
                    y = prev + Math.random() * 10 - 5;

                if (y < 0) {
                    y = 0;
                } else if (y > 100) {
                    y = 100;
                }

                data.push(y);
            }

            // Zip the generated y values with the x values

            var res = [];
            for (var i = 0; i < data.length; ++i) {
                res.push([i, data[i]])
            }

            return res;
        }

        // Set up the control widget

        var updateInterval = 20;
        $("#updateInterval").val(updateInterval).change(function () {
            var v = $(this).val();
            if (v && !isNaN(+v)) {
                updateInterval = +v;
                if (updateInterval < 1) {
                    updateInterval = 1;
                } else if (updateInterval > 2000) {
                    updateInterval = 2000;
                }
                $(this).val("" + updateInterval);
            }
        });

        var plot = $.plot("#placeholder", [getRandomData()], {
            series: {
                shadowSize: 0   // Drawing is faster without shadows
            },
            yaxis: {
                min: 0,
                max: 200
            },
            xaxis: {
                show: false
            },
            colors: ["#01c0c8"],
            grid: {
                color: "#AFAFAF",
                hoverable: true,
                borderWidth: 0,
                backgroundColor: '#FFF'
            },
            tooltip: true,
            resize: true,
            tooltipOpts: {
                content: "Y: %y",
                defaultTheme: false
            }


        });

        function update() {

            plot.setData([getRandomData()]);

            // Since the axes don't change, we don't need to call plot.setupGrid()

            plot.draw();
            setTimeout(update, updateInterval);
        }

        update();
    </script>

    <%--  <script>
        function GridViewFix() {
            var tableClass = $('[class*="grdViewTable"]');
            var tableId = $(tableClass).attr('id');
            var table = $('#' + String(tableId));
            var thead = table.find("thead");
            if (thead === 0) {
                table.prepend("<thead></thead>").find("thead").addClass('headerStyle' + tableId);
                $('#' + tableId + 'tr:first').prependTo("thead.headerStyle" + tableId);
                $('#' + tableId).unwrap();
            }

        }
    </script>--%>
    <!--Style Switcher -->
    <script src="../Students/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

    <script src="../Students/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <script src="../Students/js/toastr.js"></script>

</body>
</html>
